# Ignore archivos de configuración de IDE
*.iml
.idea/
.vscode/

# Ignore archivos de registro
*.log
logs/

# Ignore archivos de prueba y ejemplos
test/
examples/

# Ignore archivos de documentación
docs/

# Ignore archivos de claves privadas
*.key
.pem