# Ignore archivos de configuración de IDE
*.iml
.idea/
.vscode/

# Ignore archivos de registro
*.log
logs/

# Ignore archivos generados automáticamente
target/

# Ignore archivos de prueba y ejemplos
test/
examples/

# Ignore archivos de documentación
docs/

# Ignore archivos de claves privadas
*.key
.pem

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/application.properties
!**/src/main/**/application.yml
!**/src/main/**/application.yaml
!**/src/main/**/application-{profile}.properties
!**/src/main/**/application-{profile}.yml
!**/src/main/**/application-{profile}.yaml
